/*
 * Color palette: https://flatuicolors.com/palette/defo
 */

a {
	color: #2980b9;
}

a,
code,
li,
p {
	font-size: 1.5rem;
}

blockquote {
	border-left-color: #2c3e50;
	border-left-style: solid;
	padding: 8px;
}

body {
	color: #2c3e50;
	font-family: sans-serif;
	padding-left: 1vw;
	padding-right: 1vw;
}

code {
	color: #34495e;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

hr {
	margin-bottom: 32px;
	margin-top: 32px;
}

pre {
	border-color: #2c3e50;
	border-radius: 8px;
	border-style: solid;
	border-width: 2px;
	padding: 4px;
	overflow: scroll;
}

/* Rust style */

/*
 * Color palette: https://www.color-hex.com/color-palette/3304
 */

.lang-Rust .hljs-built_in {
	color: #ffc66a;
}

.lang-Rust .hljs-keyword {
	color: #a5c25c;
}

.lang-Rust .hljs-number {
	color: #a5c25c;
}

.lang-Rust .hljs-string {
	color: #cc7832;
}
