name: "Deploy website to GitHub Pages"

on:
  push:
    branches:
      - master

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-slim
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8

      # https://github.com/limjh16/jekyll-action-ts
      - name: Build Jekyll website
        uses: limjh16/jekyll-action-ts@v2
        with:
          enable_cache: true

      - name: Deploy built website
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site/
